<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="content-language" content="tr-TR" />
    <meta name="content-type" content="text/html charset=utf-8" />
    <meta http-equiv="content-type" content="text/html charset=utf-8" />

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" type="text/css" href="~/Content/jquery.mobile-1.4.5.css">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mobile-1.4.5.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnRefresh').click(function () {
                location.reload();
            });
        });
    </script>

    <title>Access Control Management - @ViewBag.Title</title>
</head>
<body>
    <div data-role="page" data-theme="b">
        <div data-role="header">
            <h1>Access Control Management - @ViewBag.Title</h1>
        </div>
        <div role="main" class="ui-content">
            @RenderBody()
        </div>
        <div data-role="footer">
            <h1>© 2015 <a href="http://oguzkoroglu.net" target="_blank">Oguz Koroglu</a></h1>
        </div>
    </div>
</body>
</html>
