@model ManagementPanel.Models.DashboardViewModel
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h3>Welcome, @Model.NameSurname . You are logged as @Model.Role</h3>
@if (Model.RoleType == Common.Roles.Admin)
{
    <button>Sync LDAP</button>
    <button>Edit Departments</button>
    <button>Edit Managers</button>
    <button>Edit Users</button>
    <button>Edit Access Points</button>
    @Html.ActionLink("View Company Access Log", "Index", "AccessLog", new { }, new { data_role = "button" })
}
else if (Model.RoleType == Common.Roles.Manager)
{
    @Html.ActionLink("Edit AccessPoint-Department", "Index", "AccessPointDepartment", new { }, new { data_role = "button" })
    <button>Edit User-Department</button>
    <button>Edit User-Groups</button>
    @Html.ActionLink("View Department Access Log", "Index", "AccessLog", new { }, new { data_role = "button" })
}
else if (Model.RoleType == Common.Roles.Employee)
{
    @Html.ActionLink("View My Access Log", "Index", "AccessLog", new { }, new { data_role = "button" })
}
@Html.ActionLink("Logout", "Logout", new { }, new { data_role = "button" })