@model ManagementPanel.Models.AccessPointDepartmentModel
@{
    ViewBag.Title = "Access Point";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h3>Welcome, @Model.NameSurname . You are logged as @Model.Role</h3>
@if (Model.ErrorCode > 0)
{
    <div>
        <h4>Error</h4>
        @Model.ErrorCode;
        <br />
        @Model.ErrorMessage;        
    </div>
}
else
{   
    <div>
        @Html.ActionLink("Back", "Index", "Dashboard", new { }, new { data_role = "button" })
        <div>Department : @Model.Department.Name</div>
        <div>Count : @Model.Count</div>
        <table data-role="table" id="table-column-toggle" data-mode="reflow" class="ui-responsive">
            <thead>
                <tr>
                    <th data-priority="1">Id</th>
                    <th data-priority="2">Name</th>
                    <th data-priority="3">IPv4</th>
                    <th data-priority="4">IPv6</th>
                    <th data-priority="5">Location</th>
                    <th data-priority="6">Turn On/Off</th>
                    <th data-priority="6">Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ap in Model.AccessPoints)
                {
                    <tr>
                        <th>@ap.Id</th>
                        <th>@ap.Name</th>
                        <td>@ap.IPv4</td>
                        <td>@ap.IPv6</td>
                        <td>@ap.Location</td>
                        <td>@Html.CheckBox("Is On", ap.IsOn, new { id = "chk_" + ap.Id, onclick = "checkBoxChanged(this," + ap.Id + ");" })</td>
                        <td>
                            <button>Edit</button></td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Back", "Index", "Dashboard", new { }, new { data_role = "button" })
    </div>    
}
<script>
    function checkBoxChanged(sender, id) {
        $.ajax({
            url: "/AccessPointDepartment/TurnOnOffAccessPoint",
            cache: false,
            type: "POST",
            data: { accessPointId: id, isOn: sender.checked },
            success: function (data) {
                alert(data.Message);
            },
            statusCode: {
                404: function (content) { alert('--cannot find resource--'); },
                505: function (content) { alert('--internal server error--'); }
            },
            error: function (req, status, errorObj) {
                // handle status === "timeout"
                // handle other errors
                alert(errorObj);
            }
        });
    }
</script>

