@model ManagementPanel.Models.UserDepartmentModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h3>Welcome, @Model.NameSurname . You are logged as @Model.Role</h3>
@if (Model.ErrorCode > 0)
{
    <div>
        <h4>Error</h4>
        @Model.ErrorCode;
        <br />
        @Model.ErrorMessage;        
    </div>
}
else
{   
    <div>
        @Html.ActionLink("Back", "Index", "Dashboard", new { }, new { data_role = "button" })
        <div>Department : @Model.Department.Name</div>
        <div>Count : @Model.Count</div>
        <table data-role="table" id="table-column-toggle" data-mode="reflow" class="ui-responsive">
            <thead>
                <tr>
                    <th data-priority="1">Id</th>
                    <th data-priority="2">Username</th>
                    <th data-priority="3">Role</th>
                    <th data-priority="4">Email</th>
                    <th data-priority="5">Full Name</th>
                    <th data-priority="6">Phone</th>
                    <th data-priority="7">Work Start</th>
                    <th data-priority="8">Work End</th>
                    <th data-priority="9">Department</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model.Users)
                {
                    <tr>
                        <th>@u.Id</th>
                        <td>@u.Username</td>
                        <td>@u.RoleName</td>
                        <td>@u.Email</td>
                        <td>@u.FullName</td>
                        <td>@u.Phone</td>
                        <td>@u.WorkStartTime</td>
                        <td>@u.WorkEndTime</td>
                        <td>@Html.CheckBox("Allow Access", u.IsInMyDepartment, new { id = "chk_" + u.Id, onclick = "checkBoxChanged(this," + u.Id + ");" })</td>
                        @*<td>@Html.ActionLink("Edit", "Edit", "AccessPointDepartment", new { id = ap.Id }, new { data_role = "button" })</td>*@
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Back", "Index", "Dashboard", new { }, new { data_role = "button" })
    </div>    
}
<script>
    function checkBoxChanged(sender, id) {
        $.ajax({
            url: "/UserDepartment/ChangeDepartmentForUser",
            cache: false,
            type: "POST",
            data: { employeeId: id, inMyDepartment: sender.checked },
            success: function (data) {
                if (!data.Success)
                    sender.checked = !sender.checked;
                alert(data.Message);
            },
            statusCode: {
                404: function (content) { alert('--cannot find resource--'); },
                505: function (content) { alert('--internal server error--'); }
            },
            error: function (req, status, errorObj) {
                // handle status === "timeout"
                // handle other errors
                alert(errorObj);
            }
        });
    }
</script>
